Pods
ReaderKit.xcodeproj/xcuserdata
ReaderKit.xcworkspace/xcuserdata/xiaoyq.xcuserdatad
ReaderKit.xcworkspace/xcuserdata/eusoft.xcuserdatad
ReaderKit.xcworkspace/xcuserdata/cube.xcuserdatad
ReaderKit.xcworkspace/xcshareddata
UserInterfaceState.xcuserstate
Breakpoints.xcbkptlist
Breakpoints_v2.xcbkptlist